@font-face {
  font-family: "ComputerModernSerif";
  src: url("../font/cmunrm.eot");
  src:
    url("../font/cmunrm.eot?#iefix") format("embedded-opentype"),
    url("../font/cmunrm.woff") format("woff"),
    url("../font/cmunrm.ttf") format("truetype"),
    url("../font/cmunrm.svg#cmunrm") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ComputerModernSerif";
  src: url("../font/cmunbx.eot");
  src:
    url("../font/cmunbx.eot?#iefix") format("embedded-opentype"),
    url("../font/cmunbx.woff") format("woff"),
    url("../font/cmunbx.ttf") format("truetype"),
    url("../font/cmunbx.svg#cmunbx") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ComputerModernSerif";
  src: url("../font/cmunti.eot");
  src:
    url("../font/cmunti.eot?#iefix") format("embedded-opentype"),
    url("../font/cmunti.woff") format("woff"),
    url("../font/cmunti.ttf") format("truetype"),
    url("../font/cmunti.svg#cmunti") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ComputerModernSerif";
  src: url("../font/cmunbi.eot");
  src:
    url("../font/cmunbi.eot?#iefix") format("embedded-opentype"),
    url("../font/cmunbi.woff") format("woff"),
    url("../font/cmunbi.ttf") format("truetype"),
    url("../font/cmunbi.svg#cmunbi") format("svg");
  font-weight: bold;
  font-style: italic;
}
