<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="dark">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="flex flex-col h-screen justify-between px-2">
    {{ partial "nav.html" . }}
    <main class="container content mt-0 m-auto leading-loose z-0" role="main">
      <div class="flex flex-wrap">
        <div id="search" class="search-bar basis-10/12 grow"></div>
        <script>
          window.addEventListener("DOMContentLoaded", (event) => {
            new PagefindUI({ element: "#search" });
          });
        </script>
        {{ if not .Params.notoc }} {{ with .TableOfContents }}
        <button type="button" class="mx-1.5" id="toc-btn" onclick="toggleToc()">
          <i class="fa-solid fa-table"></i>
        </button>
        {{ end }} {{ end }}
      </div>
      {{ block "main" . }} {{ end }}
    </main>
    {{ partial "footer.html" . }} {{ partial "extra_js.html" . }}
    <div class="plot org-center current" hidden></div>
  </body>
</html>
