{{ define "main" }}
<article class="article h-entry body" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="title-container">
        {{ if .Title}}
        <h1 class="page-title mt-7"
            itemprop="name">
            <a href="{{ .Page.Permalink }}">{{ .Title }}</a>
        </h1>
        {{ end }}
        {{ if not .Params.notoc }}
        {{ with .TableOfContents }}
        <div class="toc mb-8">
            {{ . }}
            <!-- <a href="#" class="back-to-top">Back to top</a> -->
        </div>
        {{ end }}
        {{ end }}
        {{ if .Params.Headline }}
        <b><i itemprop="headline" class="article-headline text-lg p-summary">
                {{ .Params.Headline }}
            </i></b>
        {{ end }}
        <!-- <div class="flex justify-between items-center">
             {{ if not .Params.HideDate}}
             <a class="text-lg text-gray-600 dark:text-gray-400 border-none u-url" href="{{ .Permalink }}">
             <time itemprop="datePublished" class="dt-published"
             datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z0700" }}"
             content="{{ .PublishDate.Format "2006-01-02T15:04:05Z0700" }}">
             {{ .PublishDate.Format "2006.01.02" }}
             </time>
             </a>
             {{ end }}
             {{ if .Params.Author }}
             <a class="text-gray-600 dark:text-gray-400 text-right border-none p-author h-card" rel="author" href="{{ .Site.BaseURL }}" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ .Params.Author }}</span></a>
             {{ end }}
             </div> -->
        {{ if .Params.Readingtime }}
        <div>
            Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes.
        </div>
        {{ end }}
    </div>
    <div class="article-content e-content"
         itemprop="articleBody"
         id="article-content">
        {{ partial "headline-hash.html" .Content }}
    </div>
    <hr class="my-8 w-full">
    {{ partial "taxonomy.html" . }}
    {{ if .Params.references }}
    <hr>
    <div class="mb-8">
        <h3>References</h3>
        <div class="references-list">
            <ol>
                {{ range $elem_index, $elem_val := .Params.references }}
                <li id="{{ $elem_val.id }}"><b>{{$elem_val.authors}}</b>. {{$elem_val.text}}</li>
                {{ end }}
            </ol>
        </div>
    </div>
    {{ end }}
    <div>
        <script>
            var remark_config = {
                host: 'https://remark42.marek.onl',
                site_id: 'marek.onl',
                theme: localStorage.remark42_theme,
                show_email_subscription: true,
                simple_view: false,
                no_footer: true
            }
            !function (e, n) {
                for (var o = 0; o < e.length; o++) {
                    var r = n.createElement("script"), c = ".js", d = n.head || n.body;
                    "noModule" in r ? (r.type = "module", c = ".mjs") : r.async = !0, r.defer = !0, r.src = remark_config.host + "/web/" + e[o] + c, d.appendChild(r)
                }
            }(remark_config.components || ["embed"], document);
        </script>
        <div id="remark42"></div>
    </div>
</article>
{{ end }}
