{{ define "main" }}
<article
  class="article h-entry body"
  itemprop="mainEntity"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <div class="title-container">
    {{ if .Title}}
    <h1 class="page-title mt-5" itemprop="name">
      <a href="{{ .Page.Permalink }}">{{ .Title }}</a>
    </h1>
    {{ end }} {{ if not .Params.notoc }} {{ with .TableOfContents }} {{ . }}
    {{end }} {{ end }} {{ if .Params.Headline }}
    <b
      ><i itemprop="headline" class="article-headline text-lg p-summary">
        {{ .Params.Headline }}
      </i></b
    >
    {{ end }} {{ if .Params.Readingtime }}
    <div>
      Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes.
    </div>
    {{ end }}
  </div>
  <div
    class="article-content e-content"
    itemprop="articleBody"
    id="article-content"
  >
    {{ partial "headline-hash.html" .Content }}
  </div>
  <hr class="mb-5 mt-0 w-full" />
  {{ partial "taxonomy.html" . }} {{ if .Params.references }}
  <hr />
  <div class="mb-8">
    <h3>References</h3>
    <div class="references-list">
      <ol>
        {{ range $elem_index, $elem_val := .Params.references }}
        <li id="{{ $elem_val.id }}">
          <b>{{$elem_val.authors}}</b>. {{$elem_val.text}}
        </li>
        {{ end }}
      </ol>
    </div>
  </div>
  {{ end }}
  <div>
    <script>
      var remark_config = {
        host: "https://remark42.marek.onl",
        site_id: "marek.onl",
        theme: localStorage.remark42_theme,
        show_email_subscription: true,
        simple_view: false,
        no_footer: true,
      };
      !(function (e, n) {
        for (var o = 0; o < e.length; o++) {
          var r = n.createElement("script"),
            c = ".js",
            d = n.head || n.body;
          "noModule" in r
            ? ((r.type = "module"), (c = ".mjs"))
            : (r.async = !0),
            (r.defer = !0),
            (r.src = remark_config.host + "/web/" + e[o] + c),
            d.appendChild(r);
        }
      })(remark_config.components || ["embed"], document);
    </script>
    <div id="remark42"></div>
  </div>
</article>
{{ end }}
