@font-face {
  font-family: "KaTex";
  src: url("../fonts/KaTeX_Main-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KaTex";
  src: url("../fonts/KaTeX_Main-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "KaTex";
  src: url("../fonts/KaTeX_Main-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "KaTex";
  src: url("../fonts/KaTeX_Main-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
