@import url(./../../computer-modern-web-font/font/Serif/cmun-serif.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark body {
    --pagefind-ui-text: white;
    --pagefind-ui-background: bg-dark;
    --pagefind-ui-border: grey;
    --pagefind-ui-primary: aqua;
  }

  body {
    --pagefind-ui-scale: 0.8;
    --pagefind-ui-primary: grey;
    --pagefind-ui-text: #393939;
    --pagefind-ui-background: #ffffff;
    --pagefind-ui-border: turquoise;
    --pagefind-ui-tag: #eeeeee;
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: ComputerModernSerif;
  }

  .search-bar {
    background-color: white;
    @apply dark:bg-dark;
  }

  /* Table of Contents on side */
  .toc li {
    list-style: none;
  }
  .toc ul > li {
    margin-bottom: 0.4rem;
  }
  .toc ul > li > ul > li {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }
  .toc ul > li > ul > li > ul > li {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
  .toc ul {
    /* Add left padding for headings in TOC */
    padding-left: 1rem;
    margin: 0;
  }
  .toc nav > ul {
    /* The highest level heading in a blog post is level-2 */
    padding-left: 0; /* The level-1 heading is reserved for the blog title. */
    /* So do not add any padding for level-1 heading, as that will never show*/
    /* up in the TOC. */
  }
  .toc a {
    text-decoration: none;
    @apply text-dark;
    @apply dark:text-zinc-300;
  }
  /* .toc a:hover { */
  /*   color: gray; */
  /* } */
  .toc a.current {
    @apply font-extrabold;
    @apply dark:text-zinc-100;
  }
  /* Override the bullets customization done above, just for list items*/
  /* in .toc class */
  .toc ul:not(.catlist):not(.navbar):not(.post-list) li:before {
    content: "";
  }
  .toc .back-to-top {
    /* Back to top link */
    /* font-size: 0.7rem; */
    /* padding-left: 1rem; */
  }

  @media (max-width: 1399px) {
    #toc-btn {
      display: inline;
    }
  }

  @media screen and (min-width: 1400px) {
    #toc-btn {
      display: none;
    }

    .toc {
      display: block;
      @apply my-10;
      position: fixed;
      left: 50%;
      top: 120px;
      width: 260px;
      margin-left: 430px;
      overflow-y: hidden;
      max-height: 85%;
      padding: 0;
    }
  }

  /* Hide bullets in TOC when headings are numbered. */
  .toc.has-section-numbers ul {
    list-style: none;
  }

  .headline-hash {
    @apply text-dark;
    @apply dark:text-zinc-300;
  }

  p strong a {
    @apply text-dark;
    @apply dark:text-zinc-300;
  }

  body {
    @apply tracking-wide;
    @apply dark:bg-dark;
    @apply dark:text-zinc-100;
    @apply text-lg;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
    @apply my-4;
  }
  h3 {
    @apply text-xl;
    @apply my-2;
  }
  h4 {
    @apply font-bold;
    @apply text-lg;
    @apply my-1;
  }
  a {
    @apply text-blue-800;
    @apply dark:text-blue-300;
  }
  a:hover {
    @apply text-gray-900;
    @apply dark:text-gray-200;
    @apply border-b-2;
    @apply border-slate-200;
  }

  pre {
    @apply text-sm;
  }

  pre code {
    font-family: "Iosevka Web" !important;
    font-stretch: expanded;
  }

  li {
    @apply list-disc;
  }
  ul,
  ol {
    @apply pl-10;
  }
  hr {
    @apply dark:border-zinc-500;
    @apply border-t-2;
  }
  dt {
    font-variant-caps: all-small-caps;
    @apply font-bold;
  }
  dd {
    @apply mb-4;
    @apply ml-8;
  }
  img {
    @apply mx-auto;
    @apply dark:brightness-[.8];
    @apply dark:contrast-125;
  }
  figure {
    @apply sm:mx-6;
    @apply md:mx-12;
  }
  figcaption {
    @apply text-center;
  }
  blockquote {
    @apply bg-slate-200;
    @apply dark:bg-slate-700;
    @apply my-8;
    @apply sm:mx-0;
    @apply md:mx-4;
    @apply lg:mx-8;
    @apply py-2;
    @apply border-l-4;
    @apply border-slate-400;
    @apply pl-4;
    @apply pr-2;
    @apply italic;
    @apply font-serif;
    @apply text-lg;
    @apply after:content-[close-quote];
    @apply after:text-5xl;
    @apply before:text-5xl;
    @apply before:text-slate-400;
    @apply after:text-slate-400;
    @apply after:leading-[.1em];
    @apply before:leading-[.1em];
    @apply before:mr-1;
    @apply after:mr-1;
    @apply after:align-[-.4em];
    @apply before:align-[-.4em];
    @apply before:content-[open-quote];
  }
  blockquote p {
    @apply inline;
  }

  blockquote,
  dl,
  dd,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: revert;
  }

  #vid {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}
