/* @import url(./../../computer-modern-web-font/font/Serif/cmun-serif.css); */
@import url(katex.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  blockquote,
  dl,
  dd,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: revert;
  }

  ul,
  ol,
  menu {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  .dark body {
    --pagefind-ui-text: white;
    --pagefind-ui-background: bg-dark;
    --pagefind-ui-border: grey;
    --pagefind-ui-primary: aqua;
  }

  body {
    /* --pagefind-ui-scale: 0.8; */
    --pagefind-ui-primary: grey;
    --pagefind-ui-text: #393939;
    --pagefind-ui-background: #ffffff;
    --pagefind-ui-border: turquoise;
    --pagefind-ui-tag: #eeeeee;
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: KaTeX;
  }

  .search-bar {
    background-color: white;
    @apply dark:bg-dark;
  }

  #TableOfContents {
    @apply my-5;
  }
  #TableOfContents ul li {
    list-style: none;
  }
  #TableOfContents ul > li {
    margin-bottom: 0.4rem;
  }
  #TableOfContents ul > li > ul > li {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }
  #TableOfContents ul > li > ul > li > ul > li {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
  #TableOfContents ul {
    /* Add left padding for headings in TOC */
    padding-left: 1rem;
    margin: 0;
  }
  #TableOfContents nav > ul {
    /* The highest level heading in a blog post is level-2 */
    padding-left: 0; /* The level-1 heading is reserved for the blog title. */
    /* So do not add any padding for level-1 heading, as that will never show*/
    /* up in the TOC. */
  }
  #TableOfContents a {
    text-decoration: none;
    @apply text-dark;
    @apply dark:text-zinc-300;
  }
  /* #TableOfContents a:hover { */
  /*   color: gray; */
  /* } */
  #TableOfContents a.current {
    @apply font-extrabold;
    @apply dark:text-zinc-100;
  }
  /* Override the bullets customization done above, just for list items*/
  /* in #TableOfContents class */
  #TableOfContents ul:not(.catlist):not(.navbar):not(.post-list) li:before {
    content: "";
  }

  #theme-btn {
    width: 15px;
    font-size: 15px;
  }

  @media (max-width: 1279px) {
    #toc-btn {
      display: inline;
      width: 15px;
      font-size: 15px;
    }
  }

  @media screen and (min-width: 1280px) {
    #toc-btn {
      display: none;
    }

    #TableOfContents {
      display: block;
      @apply my-10;
      position: fixed;
      left: 50%;
      top: 120px;
      width: 260px;
      margin-left: 350px;
      overflow-y: hidden;
      max-height: 85%;
      padding: 0;
    }
  }

  /* Hide bullets in TOC when headings are numbered. */
  #TableOfContents.has-section-numbers ul {
    list-style: none;
  }

  .headline-hash,
  .page-title a {
    @apply text-dark;
    @apply dark:text-slate-200;
  }

  p strong a {
    @apply text-dark;
    @apply dark:text-slate-200;
  }

  .article-content p:not(.org-center p),
  .article-content li {
    text-align: justify;
    text-justify: auto;
    hyphens: auto;
  }

  body {
    @apply tracking-wide;
    @apply dark:bg-dark;
    @apply dark:text-slate-200;
    @apply text-black;
    @apply text-lg;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
    @apply my-4;
  }
  h3 {
    @apply text-xl;
    @apply my-2;
  }
  h4 {
    @apply font-bold;
    @apply text-lg;
    @apply my-1;
  }
  * {
    box-sizing: border-box;
  }
  a {
    @apply text-blue-950;
    @apply dark:text-blue-300;
    @apply border-b;
    @apply border-transparent;
  }
  a:hover {
    @apply text-neutral-900;
    @apply dark:text-neutral-200;
    @apply border-neutral-900;
    @apply dark:border-neutral-200;
  }

  a:hover svg path {
    @apply fill-neutral-900;
    @apply dark:fill-neutral-200;
  }

  pre {
    @apply text-sm;
  }

  code {
    font-family: "Iosevka Web" !important;
    font-stretch: expanded;
    @apply text-sm;
  }

  hr {
    @apply dark:border-zinc-500;
    @apply border-t-2;
  }
  dt {
    font-variant-caps: all-small-caps;
    @apply font-bold;
  }
  dd {
    @apply mb-4;
    @apply ml-8;
  }
  img {
    @apply mx-auto;
    @apply dark:brightness-[.8];
    @apply dark:contrast-125;
  }
  figure {
    @apply sm:mx-6;
    @apply md:mx-12;
  }
  figcaption {
    @apply text-center;
  }
  blockquote {
    @apply bg-slate-200;
    @apply dark:bg-slate-700;
    @apply my-8;
    @apply sm:mx-0;
    @apply md:mx-4;
    @apply lg:mx-8;
    @apply py-2;
    @apply border-l-4;
    @apply border-slate-400;
    @apply pl-4;
    @apply pr-2;
    @apply italic;
    @apply font-serif;
    @apply text-lg;
    @apply after:content-[close-quote];
    @apply after:text-5xl;
    @apply before:text-5xl;
    @apply before:text-slate-400;
    @apply after:text-slate-400;
    @apply after:leading-[.1em];
    @apply before:leading-[.1em];
    @apply before:mr-1;
    @apply after:mr-1;
    @apply after:align-[-.4em];
    @apply before:align-[-.4em];
    @apply before:content-[open-quote];
  }
  blockquote p {
    @apply inline;
  }

  #vid {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .plot {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

.highlight .chroma,
.org-center {
  overflow: auto;
}
