<footer class="footer container flex flex-row justify-center items-center py-2.5">
    <a class="text-dark/80 dark:text-fg-muted"
       href="{{ "/about/" | relLangURL }}">About</a>
    <a href="https://github.com/upbqdn" rel="me" aria-label="GitHub"
       class="ml-4 py-1 text-dark/80 dark:text-fg-muted">
        <i class="fa-brands fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://bsky.app/profile/marek.onl" rel="me" aria-label="Bluesky"
       class="ml-4 py-1 text-dark/80 dark:text-fg-muted">
        <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
    </a>
</footer>
