<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1">

<!-- Title -->
{{- if eq .RelPermalink "/" -}}
<title>{{ .Site.Title }}</title>
{{- else if .Title -}}
<title>{{ .Title }}</title>
{{- else -}}
<title>{{ .Section | humanize }} - {{ .Site.Title }}</title>
{{- end -}}

<!-- Description -->
{{- if .Description -}}
<meta name="Description" property="description" content="{{ .Description }}">
{{- else if .Summary -}}
<meta name="Description" property="description" content="{{ .Summary }}">
{{- else if .Title -}}
<meta name="Description" property="description" content="{{ .Title }}">
{{- else -}}
<meta name="Description" property="description" content="{{ .Site.Title }}">
{{- end -}}

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<!-- Open Graph -->
{{ template "_internal/opengraph.html" . }}

<!-- Twitter -->
{{ if .Site.Params.Twitter.Name }}
{{ template "_internal/twitter_cards.html" . }}
{{ end }}

<!-- Keywords -->
{{- if .Keywords -}}
<meta property="keywords" content='{{ delimit .Keywords ", " }}'>
{{- end -}}
{{- if .Params.Tags -}}
<meta property="keywords" content='{{ delimit (apply .Params.Tags "lower" ".") ", " }}'>
{{- end -}}

<!-- Webmention -->
{{ if .Site.Params.Webmention }}
<link rel="webmention" href="https://webmention.io/{{ .Site.Params.Webmention }}/webmention">
<link rel="pingback" href="https://webmention.io/{{ .Site.Params.Webmention }}/xmlrpc">
{{ end }}

<!-- Style configuration -->
{{ $style := resources.Get "css/style.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="stylesheet" id="code-syntax-theme" href="/css/syntax-dark.css">

<link href="{{ .Site.BaseURL }}index.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed" />
<meta name="theme-color" content="#1d1f21">

<!-- JQuery -->
<script src='{{ "js/libs/jquery/3.3.1/jquery.slim.min.js" | absURL }}'></script>

<!--Initial JS -->
{{ $initialJS := resources.Get "js/initial.js" | resources.Minify }}
<script>{{ $initialJS.Content | safeJS }}</script>

<!-- Pagefind -->
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>

<!-- MathJax -->
{{ partial "mathjax.html" . }}

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Iosevka -->
<link href="https://iosevka-webfonts.github.io/iosevka/iosevka.css" rel="stylesheet" />

<!-- RSS -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
