<div class="sm:mx-8">
    <a href="{{ .Permalink }}" itemprop="url" class="grid grid-cols-list-item items-center border-b-2
             text-black dark:text-zinc-300 hover:text-neutral-500
             dark:border-zinc-600
             hover:dark:border-zinc-300
             hover:dark:text-zinc-100">
        {{ if .Params.Caption }}
        <img itemprop="image" alt="{{ .Params.Caption.Alt }}" src="{{ .Params.Caption.Name }}"
            class="flex-initial max-w-[90%] max-h-20 w-auto">
        <h3 itemprop="name" class="border-none pb-0 my-6">{{ .Title }}</h3>
        {{ else if .Params.Imgsources }}
        {{ with .Params.Imgsources }}
        <picture>
            {{ if .dark }}
            <source srcset="{{ .dark }}" alt="{{ .Alt }}" media="(prefers-color-scheme: dark)">
            {{ end }}
            {{ if .light }}
            <img src="{{ .light }}" alt="{{ .Alt }}" class="flex-initial max-w-[90%] max-h-20 w-auto" />
            {{ end }}
        </picture>
        <h3 itemprop="name" class="border-none pb-0 my-6">{{ .Title }}</h3>
        {{ end }}
        {{ else if .Params.Imgname }}
        <img itemprop="image" alt="{{ .Params.Imgname.Alt }}" src="{{ .Params.Imgname.Name }}"
            class="flex-initial max-w-[90%] max-h-20 w-auto" />
        <h3 itemprop="name" class="border-none pb-0 my-6">{{ .Title }}</h3>
        {{ else }}
        <h3 itemprop="name" class="border-none pb-0 my-2 col-span-2">{{ .Title }}</h3>
        {{ end }}
        {{ if .Params.Date }}
        <div class="list-item-date col-start-4 text-right text-neutral-600 dark:text-neutral-400">
            {{ .Date.Format "Jan 2, 2006" }}
        </div>
        {{ end }}
    </a>
    {{ if .Params.Headline }}
    <div class="mt-1">
        <i itemprop="headline" class="article-headline p-summary text-base text-neutral-600 dark:text-neutral-400">
            {{ .Params.Headline }}
        </i>
    </div>
    {{ end }}
    <meta itemprop="author" content="{{ .Site.Params.authorName }}">
</div>
