<header class="container">
    <nav class="flex items-center justify-between">
        <a href="{{ .Site.BaseURL }}"
           class="text-2xl my-2.5 ml-0.5 text-slate-600 dark:text-slate-200 hover:border-b-0">
            {{ .Site.Title }}
        </a>
        <!-- <button type="button"
             onclick="toggleMenu()"
             class="inline-flex items-center p-2 ml-3
             text-sm text-gray-500
             rounded-lg md:hidden hover:bg-gray-100
             focus:outline-none focus:ring-2
             focus:ring-gray-200 dark:text-gray-400
             dark:hover:bg-gray-700 dark:focus:ring-gray-600"
             aria-controls="navbar-default"
             aria-expanded="false">
             <span class="sr-only">Open main menu</span>
             <svg class="w-6 h-6" aria-hidden="true" fill="currentColor"
             viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1
             0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0
             01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0
             01-1-1z" clip-rule="evenodd"></path>
             </svg>
             </button> -->
        <button type="button"
                id="theme-btn"
                onclick="toggleMode()"
                aria-label="Toggle between dark and light mode">
            <div class="hidden dark:block">
                <img src="{{ "img/light_mode.svg" | absURL  }}">
            </div>
            <div class="block dark:hidden">
                <i class="fa-solid fa-moon" alt="Switch to dark theme." ></i>
            </div>
            <!-- <img class="block dark:hidden p-1"
                 src="{{ "img/dark_mode.svg" | absURL }}"> -->
        </button>
        <!-- <div class="hidden w-full md:block md:w-auto" id="navbar-default">
             <ul class="grid md:grid-flow-col items-center justify-between text-lg my-2.5">
             {{ range  sort .Site.Menus.main "Weight" }}
             <li class="p-2.5 md:first:pl-0 md:border-none border-b dark:border-zinc-500 list-none">
             <a class="text-zinc-600 dark:text-zinc-300
             hover:border-b-0" href="{{ .URL }}">{{ .Name }}</a>
             </li>
             {{ end }}
             <li class="h-7 pl-2.5 pr-0 list-none">
             </li>
             </ul>
             </div> -->
    </nav>
</header>
