<div class="flex flex-wrap gap-y-2 mt-5 mb-6 mx-1.5" data-pagefind-ignore>
    {{ if .Params.tags }}
    {{ range $index, $tag := .Params.tags }}
    {{ partial "tag-chip.html" (dict
        "url" (site.GetPage (printf "/tags/%s" (urlize $tag))).Permalink
        "name" $tag
        "filter" true
        "link_class" "mr-2"
        "span_class" "py-0.5 px-1") }}
    {{ end }}
    {{ end }}
    {{ if .Params.Date }}
    {{ partial "post-date.html" (dict "page" . "class" "ml-auto") }}
    {{ end }}
</div>
