{{ define "main" }}
<br>
<br>
<div>
    {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.5 }}
    {{ $smallestFontSize := .8 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}
    <ul class="text-center pl-0" style="padding-left: 0px;">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
        {{ $currentTagCount := len $taxonomy.Pages }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
        {{ $count := len $taxonomy.Pages }}
        {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
        <li class="list-none inline-block">
            <a class="inline-block mt-2 mr-2 border-none text-neutral-800 dark:text-neutral-200"
                href='{{ urlize $name | absURL }}'>
                <span class="dark:bg-zinc-900 dark:hover:bg-zinc-700 hover:bg-zinc-200 bg-zinc-100
                             dark:border-zinc-600 px-1 rounded border-zinc-300 hover:border-zinc-500"
                    style="font-size: 1.4rem;">
                    {{ $name }}<sup style="font-size: 0.9rem;">{{ $count }}</sup>
                </span>
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
