{{ define "main" }}
<br>
<br>
<div>
    {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
    {{ $largestFontSize := 2.5 }}
    {{ $smallestFontSize := .8 }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    <ul class="text-center pl-0">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
        {{ $count := len $taxonomy.Pages }}
        {{ $weight := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
        {{ $fontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight)) }}
        <li class="list-none inline-block">
            <a class="inline-block mt-2 mr-2 border-none text-dark dark:text-fg"
                href='{{ urlize $name | absURL }}'>
                <span class="bg-zinc-100 dark:bg-surface
                             hover:bg-zinc-200 active:bg-zinc-200
                             dark:hover:bg-fg-muted/20 dark:active:bg-fg-muted/20
                             border border-zinc-300 dark:border-fg-muted/30
                             hover:border-zinc-500 active:border-zinc-500
                             dark:hover:border-fg-muted/50 dark:active:border-fg-muted/50
                             px-1 rounded-sm transition-colors duration-100"
                    style="font-size: 1.1rem;">
                    {{ $name }}<sup style="font-size: 0.75rem;">{{ $count }}</sup>
                </span>
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
