{{ define "main" }}
<h1 class="sr-only">{{ .Site.Title }}</h1>
<div class="mt-12">
    {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
    <ul class="flex flex-wrap justify-center gap-2 pl-0">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
        <li class="list-none inline-block">
            {{ partial "tag-chip.html" (dict
                "url" (site.GetPage (printf "/tags/%s" (urlize $name))).Permalink
                "name" $name
                "count" (len $taxonomy.Pages)
                "link_class" "inline-block"
                "span_class" "px-1"
                "style" "font-size: 1.1rem;") }}
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
