{{ define "main" }}
<!-- <hr> -->
<br>
<div>
    {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.8 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}
    <ul class="leading-6 text-center">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
        {{ $currentTagCount := len $taxonomy.Pages }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
        {{ $count := len $taxonomy.Pages }}
        {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
        <li class="list-none inline-block pr-2 pb-2">
            <a href="{{ urlize $name | absURL }}"
               class="font-bold text-neutral-800 dark:text-neutral-200"
               style="font-size:{{$currentFontSize}}{{$fontUnit}}">
                {{ $name }}
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
