{{ define "main" }}
<br>
<div>
    {{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
    {{ $largestFontSize := 2.8 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    <ul class="leading-6 text-center">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
        {{ $count := len $taxonomy.Pages }}
        {{ $weight := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
        {{ $fontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight)) }}
        <li class="list-none inline-block pr-2 pb-2">
            <a href="{{ urlize $name | absURL }}"
               class="font-bold text-dark dark:text-fg"
               style="font-size:{{ $fontSize }}rem">
                {{ $name }}
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
