{{ define "main" }}
<div class="list">
    <h1 class="list-title page-title mt-7">
        <a href="{{ .Page.Permalink }}">{{ .Title }}</a>
    </h1>
    <hr>
    {{ range .RegularPages.GroupBy "Section" }}
    <!-- <h2>{{ .Key |humanize }}</h2> -->
    {{ range .Pages }}
    {{ partial "list-item.html" . }}
    {{ end }}
    <!-- <hr> -->
    {{ end }}
</div>
{{ end }}
